<div id=<%= "card-action-#{opinion.id}" %>  class="card-action">
<%= link_to new_opinion_path(:params => {position: "pro", discussion_id: @discussion.id, related_opinion_id: opinion.id}), remote: true, class: 'btn-large waves-effect waves-light green' do %>
    <%= icon('thumbs-up', I18n.t("discussion.agreement"), class: 'strong')%>
<% end %>

<%= link_to new_opinion_path(:params => {position: "against", discussion_id: @discussion.id, related_opinion_id: opinion.id}) , remote: true, class: 'btn-large waves-effect waves-light red' do %>
    <%= icon('thumbs-down', I18n.t("discussion.disagreement"), class: 'strong')%>

<% end %>

  <% if @discussion.proposal_enabled %>
  <%= link_to new_opinion_path(:params => {position: "proposal", discussion_id: @discussion.id, related_opinion_id: opinion.id}), remote: true, class: 'btn-large waves-effect waves-light orange' do %>
  <%= icon('lightbulb-o', I18n.t("discussion.proposal"), class: 'strong')%>
  <% end %>
  <% end %>
</div>