
<div id=<%="form-opinion-#{params[:related_opinion_id]}"%> class="row">
  <div class="col s12">
<% if params[:position] == "pro" %>
        <% @placeholder = I18n.t("discussion.placeholder_opinion") %>
        <div class="card light-green lighten-4">
            <div class="card-content">
              <span class="card-title"><%= I18n.t("discussion.opinion_agreement") %></span>




    <% elsif params[:position] == "against"  %>
        <div class="card red lighten-4">
          <div class="card-content">
            <span class="card-title"><%= I18n.t("discussion.opinion_disagreement") %></span>
            <% @placeholder = I18n.t("discussion.placeholder_opinion") %>

    <% elsif params[:position] == "proposal"  %>
        <div class="card amber lighten-4">
          <div class="card-content">
            <span class="card-title"><%= I18n.t("discussion.opinion_proposal") %></span>
            <% @placeholder = I18n.t("discussion.placeholder_proposal") %>

    <% end %>


    <p><%= render partial: "opinions/form", opinion: @opinion, placeholder: @placeholder%></p>

    </div>
</div>