<div class="argument" id="opinion-<%=opinion.id%>">
  <div class="content">
    <div class="text">
      <p><%= opinion.body %></p>
    </div>
    <div class="author">
      <a href="#" class="user"><%= opinion.user.name %></a> em <span class="date"><%= opinion.created_at %></span>
    </div>
    <%= render 'opinions/buttons', opinion: opinion%>
  </div>

  <div id="spaceBox" class="">
  </div>
  <div id="children" class="">
  </div>
</div>

