 <div class="row" id="<%= opinion.id %>">
      <div class="col s12">
        <% if opinion.parent_position == "pro" %>
        <div class="card light-green lighten-4">

        <% elsif opinion.parent_position == "against" %>
            <div class="card red lighten-4">

        <% elsif opinion.parent_position == "proposal" %>
            <div class="card amber lighten-4">


        <% elsif opinion.parent_position.nil? %>
            <div class="card cyan lighten-4">

       <% end %>


      <div class="card-content black-text flow-text">
            <a name="<%=opinion.id%>"></a>
            <span class="card-title"><%= opinion.user.name %></span>

            <div class="section">
              <h5><%= opinion.body %></h5>

             <% if opinion.parent_position == "pro" %>
                  <h6 class="green-text text-ligthen2"><%= I18n.t("discussion.opinion_agreement_label") %> <%= link_to "esta opinião", "##{opinion.parent_opinion.id}" %> de <%= opinion.parent_opinion.user.name%></h6>


             <% elsif opinion.parent_position == "against" %>

                  <h6 class="red-text text-ligthen2"><%= I18n.t("discussion.opinion_disagreement_label") %> <%= link_to "esta opinião", "##{opinion.parent_opinion.id}" %> de <%= opinion.parent_opinion.user.name%></h6>

              <% elsif opinion.parent_position == "proposal" %>
                  <h6 class="orange-text text-darken2"> <%= I18n.t("discussion.opinion_proposal_label") %> <%= link_to "nesta opinião", "##{opinion.parent_opinion.id}" %> de <%= opinion.parent_opinion.user.name%></h6>
            <%end%>


              <div class="right">
                <a class="btn-flat lighten-2"><i class="fa fa-thumbs-up" style="color:green"> <%= Opinion.where(parent_opinion_id: opinion.id, parent_position: "pro").count %> </i></a>
                <a class="btn-flat lighten-2"><i class="fa fa-thumbs-down" style="color:firebrick"> <%= Opinion.where(parent_opinion_id: opinion.id, parent_position: "against").count %> </i></a>

                <% if @discussion.proposal_enabled? %>
                <a class="btn-flat lighten-2"><i class="fa fa-lightbulb-o" style="color:orange"> <%= Opinion.where(parent_opinion_id: opinion.id, parent_position: "proposal").count %> </i></a>
                <% end %>
              </div>
            </div>

          </div>
            <%= render "opinions/buttons", opinion: opinion%>

        </div>
      </div>
    </div>
