
<div id="div-title" class="container center">
  <h2 id="title-text", class="blue-text text-ligthen-2">Opiniões sobre as Discussões</h2>
</div>


<div class="row">
  <% @opinions.take(12).each do |opinion, value|%>
      <div class="col s12 m6 l4">
        <div class="card grey lighten-2">
          <div class="card-content black-text flow-text">
            <span class="card-title"><p><%= link_to "#{opinion.discussion.title}",   discussion_path(opinion.discussion, :order_by => 'relevance') %>
            </p></span>
            <span class="card-body"><p><%= link_to "#{opinion.body}",   discussion_opinion_path(opinion.discussion, opinion) %>
            </p></span>
            </div>

          <div class="card-action">
            <p><span class="date"><%= opinion.user.name %> em <%=
              distance_of_time_in_words(Time.now, opinion.updated_at) %></span></p>
             <p><span class="relevancy">Relevância: <%= opinion.absolute_relevancy.round(4) %></span></p>
          </div>
      </div>
      </div>
   <% end %>
</div>
          