
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Cadastre-se</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name, label: I18n.t("user.name"), required: true, autofocus: true %>
          <%= f.input :email,  label: I18n.t("user.email"), required: true, autofocus: true %>
          <%= f.input :password, label: I18n.t("user.password"), required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
          <%= f.input :password_confirmation, label: I18n.t("user.confirm_password"), required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, I18n.t("user.sign_up"), class: "btn-large light-blue waves-light" %>
        </div>
    <% end %>
    <br><br>
</div>
