<!DOCTYPE html>
<html>
<head>

  <title><%= render_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= include_gon(init: true) %>

</head>
<body class="grey lighten-2">


<%= render partial: "layouts/toast" %>
<%= render partial: "layouts/navbar" %>
<%= yield %>

<script>
    <%= yield :js %>
</script>
</body>
</html>
